body,html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

main {
    flex-grow: 1;
    display: flex;
    min-height: calc(100vh - 122px - 50px); /* altura da navbar + barra laranja */
}

/* Botão Padrão */
.btn-padrao {
    background-color: #d47d48;
    color: white;
    border: none;
    padding: 0.6rem;
    border-radius: 1rem;

    &:hover {
        background-color: #b8683d;
        color: #d47d48;
    }
}

/* Datas agenda*/
.data-btn {
    border: 2px solid #d47d48;
    color: #d47d48;
    background-color: white;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;
}

.data-btn:hover {
    background-color: #f4e2d7;
    color: #b8683d;
}

.data-btn.selected {
    background-color: #d47d48;
    color: white;
}

/* Horarios agenda*/
.horario-btn {
    border: 2px solid #d47d48;
    color: #d47d48;
    background-color: white;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;
}

.horario-btn:hover {
    background-color: #f4e2d7;
    color: #b8683d;
}

.horario-btn.selected {
    background-color: #d47d48;
    color: white;
}

.gridHorario{
    grid-template-columns: repeat(10, 1fr);
} 


/* Menu lateral */
#sidebar {
    width: 250px;
    height: 100%;
    background-color: #e5e5e5;
    transition: all 0.3s ease;
    border-right: 1px solid #d3d3d3;
    align-self: flex-start;
}

#sidebar.collapsed {
    width: 60px;
}

#sidebar.collapsed .nav-link {
    padding: 2px;
    border-radius: 0;
    text-align: center;
    justify-content: center;
}

#sidebar.collapsed .nav-link span, #sidebar.collapsed p {
    display: none;
}

#sidebar .nav-link {
    display: block;
    width: 100%;
    padding: 6px 16px;
    border-radius: 6px;
    color: #6e6e78;
}

#sidebar .nav-link:hover {
    color: #252525;
}

#sidebar .nav-item {
    display: flex;
    align-items: center;
    padding: 0px; /* Altura reduzida */
    border-radius: 0.75rem;
    text-wrap: nowrap;
}

#sidebar .nav-item span {
    margin-left: 10px;
}

#sidebar .nav-link.active {
    background-color: #d47d48;
    color: white !important;
    border-radius: 0.75rem;
}

#content {
    transition: all 0.3s;
    padding: 0.5rem 2rem 2rem;
    flex-grow: 1;
    margin-top: 0.5rem;
}

#sidebar.collapsed + #content {
    margin-left: 60px;
}

#user-section {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-section .user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

#user-section .user-info img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

#user-section .user-info .name {
    font-size: 14px;
    font-weight: bold;
}

#user-section .user-info .email {
    font-size: 12px;
    color: #6c757d;
}

#user-section button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

#sidebar.collapsed #user-section .user-info .name,
#sidebar.collapsed #user-section .user-info .email {
    display: none;
}

footer {
    background-color: #232325;
    padding: 1rem;
    text-align: left;
    border-top: 1px solid #dee2e6;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilo para mobile */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Escurecer o fundo */
    z-index: 998;
}

/* Forms */
.form-control{
    padding: 0.6rem;
    border-radius: 1rem;
}

.input-group-text{
    border-radius: 1rem;
}

.form-control:focus {
    border-color: #f1b49c;
    box-shadow: 0 0 0 0.25rem rgba(244, 180, 156, 0.5);
}

.form-check-input[type="radio"] {
    border: 2px solid #d47d48;
}

.form-check-input[type="radio"]:checked {
    background-color: #d47d48;
    border-color: #d47d48;
}

.custom-select{
    border: 1px solid #cccccc;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #6e6e78;
}

.custom-select:focus {
    border-color: #d47d48;
    box-shadow: 0 0 0 0.2rem rgba(212, 125, 72, 0.25);
}

/* Estilo para o indicador de etapas */
.step-indicator {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 1rem;
    border-bottom: 2px solid #e0e0e0;
}

.step-indicator .step {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
    color: #999;
    border-bottom: 4px solid transparent;
}

.step-indicator .step.active {
    color: #d47d48;
    border-bottom: 4px solid #d47d48;
}


/* Estilo para dispositivos móveis */
@media (max-width: 767.98px) {
    
    #sidebar {
    transform: translateX(-100%);        
    position: fixed;
    z-index: 999;        
    top: 0px;
    }

    #sidebar.mobile-show {
    transform: translateX(0);
    }

    #content {
    margin-left: 0 !important;
    }

    #horarioDiv {
    flex-direction: column !important;
    align-items: stretch !important;
    }

    #horarioDiv .flex-grow-1 {
    width: 100%;
    }

    #horarioDiv img {
    max-width: 100%;
    height: auto;
    }

    .step-indicator {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
    border-bottom: none;
    }

    .step-indicator .step {
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 0.5rem;
    display: none; /* Esconde os passos no mobile */
    }

    .step-indicator .step.active {
    border-bottom: 2px solid #d47d48;
    color: #d47d48;  
    display: flex; /* Exibe apenas o passo ativo */
    }

    .gridHorario{
    grid-template-columns: repeat(3, 1fr);
    } 
    
}