html,
body {
    height: 100%;
    margin: 0;
    /*font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: .875rem;
    overflow-y: auto; /* Permite o scroll */
    
}

.full-height {
    height: 100vh;
}

/* Estilo Texto */
.text-color-padrao{
    color:#d47d48;
    text-decoration: none !important;

    &:hover {
        color: #c25b1c;
    }
}

/* Titulo Hr */
.titulo-hr{
    background-color:#c25b1c;
    height: 3px !important;
}

/* Botão Padrão */
.btn-padrao {
    background-color: #d47d48;
    color: white;
    border: none;

    &:hover {
        background-color: #b8683d;
        color: #d47d48;
    }
}

/* Formulário */
.form-control:focus {
    border-color: #f1b49c;
    box-shadow: 0 0 0 0.25rem rgba(244, 180, 156, 0.5);
}

.login-box {
    border: 0.5px solid #cccccc; /* Borda super fina e clara */
    border-radius: 10px;
    margin: 60px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.05); /* pode suavizar também o shadow */
    max-width: 450px;
    width: 100%;
  }

  .bem-vindo {
    font-size: 1.5rem;
    font-weight: bold;
  }

 /* Carrossel */
 .carousel { 
    flex: auto;
    height: 100vh;

    & .carousel-inner {
        height: 100%;
    }

    & .carousel-item img {
        height: 100%;
        object-fit: cover;
    }
}

/* Media query */
@media (max-width: 768px) {

    /* Ajustes para telas menores */
    .full-height {
        height: 50vh;
        /* Divide a tela em duas metades */
    }
}