html,
body {
    height: 100%;
    margin: 0;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    overflow-y: auto; /* Permite o scroll */
}

.full-height {
    height: 100vh;
    /* Garante que a div ocupe toda a tela */
}

/* Estilo personalizado para os botões */
.btn-custom {
    background-color: #d47d48;
    /* Cor de fundo personalizada */
    color: white;
    /* Texto branco */
    border: none;
    /* Remove a borda padrão */
}

.btn-custom:hover {
    background-color: #b8683d;
    /* Cor do botão ao passar o mouse */
    color: #d47d48;
}

/* Estilo para o campo com foco (focus) */
.form-control:focus {
    border-color: #f1b49c;
    /* Cor mais clara de #d47d48 */
    box-shadow: 0 0 0 0.25rem rgba(244, 180, 156, 0.5);
    /* Efeito de sombra com a mesma cor clara */
}

 /* Carrossel */

 #carouselLogin { 
    flex: auto;
    height: 100vh; /* 100% da altura da janela */
}

.carousel-inner {
    height: 100%; /* Assegura que o carrossel preenche a altura */
}

.carousel-item img {
    height: 100%; /* Faz as imagens se ajustarem à altura do carrossel */
    object-fit: cover; /* Ajusta a imagem para cobrir a área sem distorção */
}

@media (max-width: 768px) {

    /* Ajustes para telas menores */
    .full-height {
        height: 50vh;
        /* Divide a tela em duas metades */
    }
}